.home-container {
    background-image: url('./assets/slide14.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200vh;
    padding: 20px; 
  }
  

  